@import './vars.scss';
@import '../fonts/font-face.scss';

body {
    background-color: $background;
    font-family: $main-font, Arial, Helvetica, sans-serif;
    font-size: $m-text;

    @media(min-width: 670px) {
        font-size: 1.1rem;
    }
}