//Colors:
$background: #F9F6EF;
$pomodoro: #FF6753;
$accent-first: #F07300;
$accent-second: #FFC94B;
$progress: #719E6A;
$main-text: #3C3C3C;
$border-gradient: linear-gradient(0deg, rgba(162,165,154,0) 0%, rgba(162,165,154,0) 10%, rgba(113,158,106,0.8) 100%);

//Font:
$main-font: 'Century Gothic';
$m-text: 14px;
$l-text: 1.2rem;
$xl-text: 1.5rem;

