@import './../../asserts/styles/vars.scss';

.timer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(min-width: 670px) {
        grid-area: timer;
    }
}

.timer__img {
    max-width: 265px;

    @media(min-width: 550px) {
        min-width: 320px;
    }
}

.timer__face {
    position: relative;
    padding: 2em 1em 3.5em 1em;

    @media(max-width: 360px) {
        padding: 1.1em 0.7em 3.2em 0.7em;
    }

    @media(min-width: 670px) {
        padding: 1.1em 0.7em 5em 0.7em;
    }
}

.time-panel {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    @media(min-width: 362px) {
        top: 39%;
    }

    @media(min-width: 670px) {
        top: 34%;
        gap: 0.7em
    }
}

.timer__warning {
    position: absolute;
    bottom: 1.2em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: $l-text;
    color: $accent-first;
    font-style: italic;
}
