@import './../../asserts/styles/vars.scss';

.about {
    display: none;
    max-width: 60%;
    font-size: 0.8rem;
    font-style: italic;

    @media(min-width: 670px) {
        display: block;
    }
}
