@import './../../asserts/styles/vars.scss';

.time-setter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    color: $main-text;
    border-radius: 1rem;

    &.work {
        background-color: lighten($accent-first, $amount: 40);
    }

    &.rest {
        background-color: lighten($accent-second, $amount: 20);
    }

}

.time__field {
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    margin: 0 0.15rem;
    border-radius: 0.2rem;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    color: $main-text;
}

.time-setter__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.1rem;
    border-radius: 0.1rem;
    background-color: rgba($color: #ffffff, $alpha: 0.4);

    &:focus, &:hover {
        background-color: rgba($color: #ffba79, $alpha: 0.4);
    }
}

.time-setter__btns {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 0.5rem;
}

.increase-arr, .decrease-arr {
    width: 0.8rem;
    height: 0.8rem;
    fill: $accent-first;
}

.decrease-arr {
    transform: rotate(180deg);
}

