@import './../../asserts/styles/vars.scss';

.time {
    display: inline-block;
    font-size: 2.5em;
    padding: 0.3em;
    color: #ffffff;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 0.2em;
}

.time__toggle,.time__reset {
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
    color: #ffffff;
    transition: all 500ms;
}

.time__toggle {
    font-size: $l-text;
    background-color: rgba($progress, $alpha: 1);
    &:hover {
        background-color: lighten($progress, $amount: 5);
    }
}

.time__reset {
    font-size: $m-text;
    background-color: rgba($color: #000000, $alpha: 0.15);
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1); 
    }
}