@import './../../asserts/styles/vars.scss';

.achievs {
    padding-left: 1em;

    @media(min-width: 550px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }

    @media(min-width: 670px) {
        grid-area: achievs;
        align-self: baseline;
    }
}

.achievs__list li{
    margin-bottom: 1rem;
    padding-left: 1.2em;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 1em;
        height: 1em;
        background-image: url('../../asserts/Icons/star.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.accent {
    font-size: $l-text;
    color: $accent-first;
    font-style: italic;
}