@import './../../asserts/styles/vars.scss';

.progress {
    position: relative;
}

.progress-bar {
    transform: rotate(-90deg);
    width: 300px;
    height: 300px;
}

.children {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.progress__indicator {
    transition: all 600ms ease-in;
}

